.show__section {
  background-color: #9b9b9b;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show__item {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d8d8d8;
  margin: 30px 20px;
  width: 50%;
}

.show__item {
  width: 30%;
}
.show__body {
  background-color: #9b9b9b;
}
.show__error {
  color: white;
  font-size: 72px;
  padding-top: 50px;
  text-align: center;
}
