<section class="header">
  <div class="nav">
    <div class="nav__1">
      <h1>Best Books</h1>
      <div class="dropdown">
        <span class="icon">
          <span></span>
          <span></span>
          <span></span>
        </span>
        <div class="dropdown-content">
          <a href="/">Home</a>
          <a href="/searches/new">Search for books</a>
        </div>
      </div>
    </div>
    <div class="nav__2"><p>book store</p></div>
  </div>
</section>
