<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="reset.css" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body class="show__body">
    <section class="header">
      <div class="nav">
        <div class="nav__1">
          <h1>Best Books</h1>
          <div class="dropdown">
            <span class="icon">
              <span></span>
              <span></span>
              <span></span>
            </span>
            <div class="dropdown-content">
              <a href="/">Home</a>
              <a href="/searches/new">Search for books</a>
            </div>
          </div>
        </div>
        <div class="nav__2"><p>book store</p></div>
      </div>
    </section>
    <h2 class="welcome">Welcome to my book store</h2>
  </body>
</html>
